{{ if eq .Section "ward" }}
<div class="wrap nav-inner">
  <a class="brand" href="/ward/">
    {{ partial "ward-mark.html" . }} Ward <a class="by" href="/">by Axiomat</a>
  </a>
  <ul class="nav-links">
    <li><a class="muted" href="/ward/#uses">What it does</a></li>
    <li><a class="muted" href="/ward/#how">How it works</a></li>
    <li><a class="muted" href="/ward/#pricing">Pricing</a></li>
    <li><a class="muted" href="/ward/updates/">Updates</a></li>
    <li>{{ partial "trial-cta.html" (dict "class" "btn-primary" "prefix" "/ward/") }}</li>
  </ul>
</div>
{{ else }}
<div class="wrap nav-inner">
  <a class="brand" href="/">
    <img class="brand-mark" src="/images/axiomat-mark.png" alt="" aria-hidden="true"> Axiomat
  </a>
  <ul class="nav-links">
    <li><a class="muted" href="/ward/">Ward</a></li>
    <li><a class="muted" href="/#about">Who's behind it</a></li>
    <li><a class="muted" href="/ward/security/">Security</a></li>
    <li><a class="btn btn-primary" href="/#contact">Get in touch</a></li>
  </ul>
</div>
{{ end }}
